<section class="dropContainer" id= "dropContainer">
  <h1>Huffman Encoding</h1>
  <p  align="left" > This app compresses any file type using Huffman encoding. The application is
    free for everyone. The file after compressed will be available for download.
    This app tries to decrease the size. However, the distribution of characters in
    file will affect that size of compressed file. The size of compressed
    file for files with smaller size is not effective. However, for large
    data files it can decrease the size.
 </p>
</section>
